* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* ===== NAVBAR ===== */
.barra {
  width: 100%;
  background: #242424;
  padding: 12px 20px;;
  display: flex;
  justify-content: space-between;

  align-items: center;
  transition: background 0.3s ease;
  position: sticky;
  top: 0;}


.logo {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}
