.producto-card {
  background-color: var(--card-bg);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  padding: 20px;
  text-align: center;
    color: #000;
}

.producto-card h2 {
  font-size: 1.2rem;

  margin-bottom: 8px;
}